/* header and footer colors */
header,
footer {
  background-color: #1b3a46;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* main title */
h1 {
  margin: 0;
  padding-top: 1.5rem;
  text-align: center;
  color: #000907;
}

/* navigation links */
nav ul {
  color: #d8d8ba;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  padding-right: 2rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

/* link styling */
a {
  text-decoration: none;
  color: #d8d8ba;
}

/* background */
main {
  background-color: #bcb58b;
  margin-top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* The About me section of the page should have an avatar photo to the left of the text box. Tex bos should have a shadow. */

/* Section headers */
h2 {
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #000907;
}

/* aligns elements in the about me container */
.about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

/* avatar image */
.elliot-self-img {
  width: 50%;
  border-radius: 50%;
  margin: 0;
  border: 1px solid #1b3a46;
}

/* text element in the about me section */
.about-me p {
  width: 40%;
  margin: 0;
  padding: 0.5rem;
  background-color: #d8d8ba;
  color: #1b3a46;
  border: 1px solid #1b3a46;
  box-shadow: 3px 3px;
}

/* primary example project-largest */
.main-example-project {
  position: relative;
  color: #000907;
}

/* Image for primary project */
.main-example-img {
  width: 99%;
  border: #1b3a46 1px solid;
  opacity: 0.5;
}

/* changes opacity when hovering over image */
.main-example-img:hover {
  opacity: 1;
}

/* title text for primary project */
.main-project-title {
  margin: 0;
  position: relative;
  bottom: 4rem;
  left: 30%;
  width: 70%;
  background-color: #bcb58b;
  color: #1b3a46;
}

/* subtext for primary project */
.main-project-skills {
  margin: 0;
  position: relative;
  bottom: 4rem;
  left: 30%;
  width: 70%;
  background-color: #bcb58b;
}

/* parent container for other projects */
.other-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

/* img rules for other project images */
.other-example-img {
  width: 75%;
  position: relative;
  left: 12%;
  border: #1b3a46 1px solid;
  opacity: 0.5;
}

/* hover on images */
.other-example-img:hover {
  opacity: 1;
}

/* titles of other projects */
.other-project-titles {
  color: #1b3a46;
  position: relative;
  bottom: 3.5rem;
  left: 30%;
  width: 70%;
  background-color: #bcb58b;
  margin: 0;
}

/* rules for other skills shown */
.other-shown-skills {
  margin: 0;
  position: relative;
  left: 30%;
  width: 70%;
  bottom: 3.5rem;
  background-color: #bcb58b;
}

/* contact elements */
.contact-info {
  margin: 0;
  padding: 1em;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  color: #d8d8ba;
}

/* media query for tablet screens */
@media screen and (min-width: 750px) {
  /* scale up title */
  h1 {
    font-size: 3rem;
  }

  /* scale up nav text */
  nav {
    font-size: 1.5rem;
  }

  /* scale up section header text */
  h2 {
    font-size: 2.5rem;
  }

  /* thicker border on avatar image */
  .elliot-self-img {
    border: #1b3a46 3px solid;
  }

  /* adjust about-me text on larger screens */
  .about-me p {
    width: 30%;
    font-size: 1.5rem;
    border: #1b3a46 3px solid;
    box-shadow: #1b3a46 5px 5px;
  }

  /* rescale work section */
  .work {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  /* change scaling at 750px so the image isnt awkward */
  .main-example-project {
    padding: 3.5%;
  }

  /* adjusted image border */
  .main-example-img {
    border: #1b3a46 3px solid;
  }

  /* adjust text overlay scaling */
  .main-project-title {
    font-size: 1.75rem;
    bottom: 6rem;
    left: 40%;
    width: 60%;
  }

  /* adjust text overlay scaling */
  .main-project-skills {
    font-size: 1.5rem;
    bottom: 6rem;
    left: 40%;
    width: 60%;
  }

  /* change other project from column to row at 750px */
  .other-projects {
    flex-direction: row;
  }

  /* scaled text for other projects */
  .other-project-titles {
    font-size: 0.8rem;
    left: 25%;
    width: 75%;
  }

  /* scaled text for other project skills */
  .other-shown-skills {
    font-size: 0.75rem;
    left: 25%;
    width: 75%;
  }

  footer li {
    font-size: 1rem;
    padding: 1rem;
  }
}

/* media query for desktop screens */
@media screen and (min-width: 1024px) {
  /* reformat header for desktop */
  .header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3rem;
  }

  /* adjust h1 text for desktop */
  h1 {
    font-size: 4rem;
  }

  /* rescale nav elements for desktop */
  nav ul li {
    padding: 0.5rem;
    font-size: 1.76rem;
  }

  .elliot-self-img {
    width: 30%;
  }

  /* change scaling and move other projects to right side of screen */
  .work {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  /* rescale main project */
  .main-example-project {
    width: 75%;
    padding: 1.5rem;
    justify-content: center;
  }

  /* enlarge title text of main project and shift left */
  .main-project-title {
    font-size: 2.5rem;
    left: 25%;
    width: 75%;
    bottom: 10rem;
  }

  /* scale skills text in main project */
  .main-project-skills {
    font-size: 2rem;
    left: 25%;
    width: 75%;
    bottom: 10rem;
  }

  /* rescale other projects in column */
  .other-projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    padding-top: 1rem;
  }

  /* slightly enlarge scale of other project img */
  .other-example-img {
    width: 85%;
    border: #1b3a46 3px solid;
  }

  /* scale other project titles */
  .other-project-titles {
    font-size: 1rem;
    bottom: 4rem;
  }

  /* scale skills shown on other projects */
  .other-shown-skills {
    font-size: 1rem;
    bottom: 4rem;
  }

  footer h2 {
    font-size: 3rem;
  }
  footer ul li {
    font-size: 1.5rem;
  }
}

.color1 {
  color: #000907;
}

.color2 {
  color: #1b3a46;
}

.color3 {
  color: #ad9575;
}

.color4 {
  color: #bcb58b;
}

.color5 {
  color: #d8d8ba;
}
