/* Header should be blue with centered nav elements and h1 */
header {
  background-color: #1b3a46;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  margin: 0rem;
  padding-top: 1.5rem;
  text-align: center;
  color: #000907;
}

nav ul {
  color: #d8d8ba;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  padding-right: 2rem;
  margin-bottom: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

main {
  background-color: #bcb58b;
  margin-top: 0rem;
  padding: 0.5rem;
}
/* The About me section of the page should have an avatar photo to the left of the text box. Tex bos should have a shadow. */
h2 {
  margin: 0rem;
  padding: 1rem;
  text-align: center;
  color: #000907;
}

.about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.elliot-self-img {
  width: 50%;
  border-radius: 50%;
  margin: 0rem;
  border: 1px solid #1b3a46;
}
.about-me p {
  width: 40%;
  margin: 0rem;
  padding: 0.5rem;
  background-color: #d8d8ba;
  color: #1b3a46;
  border: 1px solid #1b3a46;
  box-shadow: 3px 3px;
}
.color1 {
  color: #000907;
}
.color2 {
  color: #1b3a46;
}
.color3 {
  color: #ad9575;
}
.color4 {
  color: #bcb58b;
}
.color5 {
  color: #d8d8ba;
}
